body {
  background-image: url("images/webimage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: chartreuse;
  height: 100%;
  width: 100%;
}
.level1 {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 70px;
  border: 3px solid black;
  text-align: center;
  border-radius: 20px;
  background: darkgrey;
  font-size: 30px;
}

.level2 {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 70px;
  border: 3px solid black;
  text-align: center;
  border-radius: 20px;
  background: darkgrey;
  font-size: 30px;
}

p {
  font-weight: bold;
  font-family: "Times New Roman", serif;
  position: relative;
  bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.level1:hover {
  background: lightblue;
  opacity: 90%;
}

.feilogo {
  position: fixed;
  left: 5px;
  top: 125px;
}
